.vector-left{
  position: relative;
  left: -28em;
  transition: all 1s;
}

.vector-right{
  position: absolute;
  transition: all 1s;
  top: -28em;
}

.logo{
  position: absolute;
  left: 54.1em;
  top: 3.7em;
  cursor: pointer;
}


@media(max-width: 1919px){
  .logo{
    left: 45.1vw;
  }
}

@media(max-width: 1680px){
  .logo{
    left: 43.1vw;
  }
}

@media(max-width: 1400px){
  .logo{
    left: 45.1vw;
  }
}

@media (max-width: 1280px){
  .logo{
    left: 48.1vw;
  }
}


@media (max-width: 1000px){
  .vector-left{
    width: 21em;
  }

  .vector-right{
    width: 12em;
  }

  .logo{
    left: 46vw;
  }
}


@media (max-width: 768px){
  .vector-left{
    width: 15.5em;
  }

  .vector-right {
    width: 17.5em;
  }

  .logo {
    left: 37.6vw;
    top: 6.3em;
  }
}

@media (max-width: 596px){
  .logo{
    left: 26.6vw;
  }
}

@media(max-width: 495px){
  .vector-right {
    width: 14.5em;
  }

  .vector-left {
    width: 14.5em;
  }
}

@media(max-width: 413px){
  .vector-right {
    width: 11.5em;
  }

  .vector-left {
    width: 11.5em;
  }
}

@media(max-width: 360px){
  .logo{
    width: 8em;
    height: 2.5em;
    top: 5em;
    left: 7.32em;
  }
}