@import "mixins.scss";


.main-section{

  .main-section-wrapper{
    position: absolute;
    left: 33.8em;
    top: 13.4em;

    .announcement{
      position: relative;
      left: 10.3em;
      top: 0.4em;
      @include font();
      width: 55.9%;
      text-align: center;
    }

    .clock-wrapper{
      position: relative;
      display: flex;
      left: 9.5em;
      top: 2.5em;
      gap: 1.5em;
      width: 66%;

      .clock{
        @include clock();
      }

      .clock:nth-child(3){
        margin-left: 0.16em;
      }

      .clock:nth-child(4){
        margin-left: 0.16em;
      }

      .clock:nth-child(5){
        margin-left: 0.13em;
      }

      .clock:nth-child(6){
        margin-left: 0.13em;
      }

      .clock:nth-child(7){
        margin-left: -0.06em;
      }
    }

    .clock-description{
      position: relative;
      display: flex;
      left: 7.7em;
      top: 2.75em;
      gap: 1.2em;
      width: 70%;
    }

    .clock-description__div{
      width: 8.25em;
      height: 3.25em;
      background-image: url('../assets/IMG/clock-vector.png');
      background-size: cover;

      .time-units{
        position: relative;
        @include clockDescription();
        color: #FFFFFF;
        left: 3.1em;
        top: 1.1em;
      }

      .mins{
        left: 2.6em;
      }

      .secs{
        left: 2.3em;
      }
    }
  }
}

.caption{
  @include caption();
}


.check-wrapper{
  position: relative;
  top: 7em;
  left: 15.5em;
  width: 60%;
  
  .call-to-action{
    @include font();
    position: relative;
    top: 0.2em;
    left: 0.1em;
  }

  .go-to-event-btn{
    @include button();
    position: relative;
    top: 1em;
    left: 1em;
    left: 3.7em;

    .btn-text{
      @include font();
      position: relative;
      width: 171px;
      left: -0.5em;
      top: 0.12em;
    }

    .btn-arrow{
      position: relative;
      left: 1.5em;
      top: 0.4em;
    }
  }
}


@media(max-width: 1919px){


  .main-section .main-section-wrapper{
    left: 28.2vw;
  }
}

@media(max-width: 1680px){

  .main-section .main-section-wrapper{
    left: 26.2vw;
  }
}

@media(max-width: 1400px){

  .main-section .main-section-wrapper{
    left: 23.2vw;
  }
}

@media(max-width: 1280px){

  .main-section .main-section-wrapper{
    left: 21.2vw;
  }
}


@media(max-width: 1152px){
  .main-section .main-section-wrapper{
    left: 17vw;
  }
}

@media (max-width: 1074px){
  .main-section .main-section-wrapper{
    left: 15vw;
  }
}

@media (max-width: 1048px){
  .caption{
    position: relative;
    font-size: 3.5em;
    left: 8vw;
  }

  .main-section .main-section-wrapper .clock-description{
    width: 85%;
  }
}

@media(max-width: 1000px){

  .main-section .main-section-wrapper{
    left: 8vw;
  }
}

@media(max-width: 800px){
  .main-section .main-section-wrapper{
    left: 4vw;
  }
}

@media(max-width: 768px){
  .main-section .main-section-wrapper{
    left: 14.8vw;
    top: 20.4em;
  }

  .caption{
    font-size: 2.25em;
  }

  .main-section .main-section-wrapper .announcement{
    font-size: 1em;
    width: 61.9%;
    left: 8em;
    top: 1.3em;
  }

  .main-section .main-section-wrapper .clock-wrapper{
    left: 6.3em;
    top: 3.8em;
  }

  .main-section .main-section-wrapper .clock-wrapper .clock{
    font-size: 2.25em;
  }

  .main-section .main-section-wrapper .clock-description{
    left: 5.6em;
    top: 4em;
    gap: 2.2em
  }

  .main-section .main-section-wrapper .clock-description__div{
    background-image: url('../assets/IMG/time-desc-vector768.svg');
    width: 4em;
    height: 40px;
  }

  .main-section .main-section-wrapper .clock-description__div .time-units{
    font-size: 12px;
    left: 2.1em;
  }

  .main-section .main-section-wrapper .clock-description__div .mins{
    left: 1.7em;
  }

  .check-wrapper{
    width: 66%;
    left: 7.4em;
    top: 6.5em;
  }


  .check-wrapper .call-to-action{
    font-size: 1em;
  }

  .check-wrapper .go-to-event-btn{
    top: 1.2em;
    left: 2.4em;
  }

  .check-wrapper .go-to-event-btn .btn-text{
    left: -0.65em;
  }

}

@media (max-width: 596px){
  .main-section .main-section-wrapper{
    left: 3.8vw;
  }

  .caption{
    width: 92%;
  }
}

@media (max-width: 505px){
  .main-section .main-section-wrapper{
    left: -5vw;
  }
}

@media (max-width: 458px){

  .main-section .main-section-wrapper{
    left: -15vw;
  }

  .caption {
    width: 64%;
    text-align: center;
    left: 26vw;
  }
}

@media(max-width: 426px){
  .main-section .main-section-wrapper .clock-description{
    width: 79%;
  }
}

@media(max-width: 397px){
  .main-section .main-section-wrapper{
    left: -21vw;
  }
}

@media (max-width: 379px){
  .main-section .main-section-wrapper .clock-wrapper{
    gap: 0.8125em;
  }

  .main-section .main-section-wrapper .clock-description{
    gap: 1.125em;
  }

  .main-section .main-section-wrapper .announcement{
    width: 68%;
    left: 6em;
  }

  .check-wrapper .call-to-action{
    left: -1.3em;
  }

  .check-wrapper .go-to-event-btn{
    left: -1.6em;
  }
}

@media (max-width: 360px){
  .main-section .main-section-wrapper{
    top: 11.7em;
    left: -4em;
  }

  .main-section .main-section-wrapper .clock-description{
    left: 24.7vw;
    width: 74%;
    top: 3.6em;
  }

  .main-section .main-section-wrapper .announcement{
    top: 1em;
    left: 6.2em;
  }

  .caption{
    width: 71%;
  }

  .main-section .main-section-wrapper .clock-wrapper{
    top: 3.4em;
    gap: 1em;
  }

  .check-wrapper .call-to-action {
    top: -0.15em;
    left: -1em;
    width: 108%;
  }

  .check-wrapper .go-to-event-btn{
    top: 0.66em;
    left: 0.4em;
  }

  .main-section .main-section-wrapper .clock-wrapper .clock:nth-child(6){
    margin-left: 0em;
  }
}
